<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Médico Galenos - Registrar Paciente</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(198, 253, 253);
            /* Color de fondo azul */

        }

        .container {
            width: 300px;
            padding: 20px;
            background-color: #f1f1f1;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            margin-top: 50px;
        }

        input[type=text],
        input[type=email],
        input[type=password],
        input[type=date] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        button {
            padding: 14px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .registrar-btn {
            background-color: #28a745;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Registrar Paciente</h2>
        <form action="/registro_paciente/" method="post">
            {% csrf_token %}
            <label for="rut"><b>RUT:</b></label>
            <input type="text" placeholder="Ingrese RUT" name="rut" required>
            <span class="error-message" id="rut-error"></span> <!-- Elemento para mostrar mensaje de error -->

            <label for="nombre"><b>Nombre:</b></label>
            <input type="text" placeholder="Ingrese Nombre" name="nombre" required>

            <label for="email"><b>Correo electrónico:</b></label>
            <input type="email" placeholder="Ingrese Correo Electrónico" name="email" required>
            <span class="error-message" id="email-error"></span> <!-- Elemento para mostrar mensaje de error -->


            <label for="password"><b>Contraseña:</b></label>
            <input type="password" placeholder="Ingrese Contraseña" name="password" required>

            <label for="password_confirmation"><b>Confirmar Contraseña:</b></label>
            <input type="password" placeholder="Confirme Contraseña" name="password_confirmation" required>

            <p id="message" style="color: red;"></p>

            <div class="error-message" style="color: red;"></div>


            <label for="fecha_nac"><b>Fecha de Nacimiento:</b></label>
            <input type="date" name="fecha_nac" required>

            <label for="direccion"><b>Dirección:</b></label>
            <input type="text" placeholder="Ingrese Dirección" name="direccion" required>

            <label for="telefono"><b>Teléfono:</b></label>
            <input type="text" placeholder="Ingrese Teléfono" name="telefono" required>

            <label for="genero"><b>Genero:</b></label>
            <select name="genero" required>
                <option value="Mujer">Mujer</option>
                <option value="Hombre">Hombre</option>
                <option value="No Binario">No Binario</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>
            <div class="button-container">
                <button type="button" onclick="consumirAPI()" class="registrar-btn">Registrar</button>
                <a href="/home/" class="volver-btn">Volver</a>
            </div>

            <p id="mensaje"></p>

        </form>
    </div>

    <script>


        function validarFechaNacimiento() {
            var fechaNacimiento = new Date(document.getElementsByName("fecha_nac")[0].value);
            var fechaActual = new Date();

            // Verificar si la fecha de nacimiento es mayor que la fecha actual
            if (fechaNacimiento > fechaActual) {
                var mensajeElemento = document.getElementById('mensaje');
                mensajeElemento.textContent = 'La fecha de nacimiento no debe ser mayor a la actual';
                mensajeElemento.style.color = 'red';
                return false;
            } else {
                // Limpiar el mensaje de error si la fecha de nacimiento es válida
                var mensajeElemento = document.getElementById('mensaje');
                mensajeElemento.textContent = '';
                return true;
            }
        }


        function validarEmail() {
            var email = document.getElementsByName("email")[0].value;
            var emailError = document.getElementById('email-error');

            // Patrón para validar el correo electrónico
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!emailPattern.test(email)) {
                emailError.textContent = 'Correo electrónico inválido, ingrese un correo válido';
                emailError.style.color = 'red';
                return false;
            } else {
                emailError.textContent = ''; // Limpiar el mensaje de error si el correo electrónico es válido
                return true;
            }
        }



        function validarRut() {
            var rut = document.getElementById('rut').value;
            var rutError = document.getElementById('rut-error');

            if (!validarRutChileno(rut)) {
                rutError.textContent = 'RUT inválido, ingrese un RUT válido';
                rutError.style.color = 'red';
                return false;
            } else {
                rutError.textContent = ''; // Limpiar el mensaje de error si el RUT es válido
                return true;
            }
        }

        function validarRutChileno(rut) {
            rut = rut.replace(/\./g, '').replace(/-/g, '');
            var rutNumeros = rut.slice(0, -1);
            var verificador = rut.slice(-1).toUpperCase();

            var suma = 0;
            var multiplo = 2;
            for (var i = rutNumeros.length - 1; i >= 0; i--) {
                suma += parseInt(rutNumeros.charAt(i)) * multiplo;
                if (multiplo < 7) {
                    multiplo++;
                } else {
                    multiplo = 2;
                }
            }

            var digitoEsperado = 11 - (suma % 11);
            if (digitoEsperado === 11) {
                digitoEsperado = 0;
            } else if (digitoEsperado === 10) {
                digitoEsperado = 'K';
            }

            return verificador === digitoEsperado.toString();
        }





        

        function consumirAPI() {
            // Hacer la solicitud a la API
            var rut = document.getElementsByName("rut")[0].value;
            var nombre = document.getElementsByName("nombre")[0].value;
            var email = document.getElementsByName("email")[0].value;
            var password = document.getElementsByName("password")[0].value;
            var fechaNacimiento = document.getElementsByName("fecha_nac")[0].value;
            var direccion = document.getElementsByName("direccion")[0].value;
            var telefono = document.getElementsByName("telefono")[0].value;
            var genero = document.getElementsByName("genero")[0].value;


            // Validar el correo electrónico antes de hacer la solicitud a la API
            if (!validarEmail()) {
                return; // Detener el proceso si el correo electrónico es inválido
            }
            
            if (!validarFechaNacimiento()) {
                return; // Detener el proceso si la fecha de nacimiento es inválida
            }
                

                // Validar el RUT antes de hacer la solicitud a la API
            if (!validarRutChileno(rut)) {
                var mensajeElemento = document.getElementById('mensaje');
                 mensajeElemento.textContent = 'RUT inválido, ingrese un RUT válido';
                mensajeElemento.style.color = 'red';
                return;
            }
            if (rut && nombre && email && password && fechaNacimiento && direccion && telefono && genero) {
                // Hacer la solicitud a la API
                var pacienteData = {
                    rut_p: rut,
                    nombre_p: nombre,
                    email_p: email,
                    password_p: password,
                    fecha_nac_p: fechaNacimiento,
                    direccion_p: direccion,
                    telefono_p: telefono,
                    genero_p: genero
                };
                 

            // Enviar datos a la API de Flask
            fetch('https://centrofinal.crismendez1.repl.co/pacientes/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(pacienteData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message === "Paciente agregado correctamente") {
                        // Mostrar un mensaje de éxito en la página
                        var successMessage = document.createElement('div');
                        successMessage.textContent = 'Se ha agregado el paciente correctamente.';
                        successMessage.style.color = 'green'; // Puedes ajustar el estilo según tu preferencia
                        document.body.appendChild(successMessage);

                        // Opcional: Redirigir a otra página después de mostrar el mensaje
                        // window.location.href = '/ruta_de_redireccion';
                    } else {
                        // Mostrar un mensaje de error
                        var errorMessage = document.querySelector('.error-message');
                        errorMessage.textContent = "Error al registrar paciente.";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

        }
    </script>
</body>

</html>